APP_NAME=iartnet_ingestion
APP_ENV=local
APP_KEY=base64:
APP_DEBUG=true
APP_URL=http://xxx.xxx.xxx.xxx:8088
ASSET_URL=http://xxx.xxx.xxx.xxx:8088

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Database Configuration (Extracted from Running Container)
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=Myiartnet1
DB_USERNAME=Myiartnet
DB_PASSWORD=changeme
DB_SSLMODE=prefer
POSTGRES_PASSWORD=changeme

# Driver & Cache
SESSION_DRIVER=cookie
CACHE_STORE=file
QUEUE_CONNECTION=redis

# Redis Configuration
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1

# IIIF Configuration
IMAGES_ROOT=/srv/iartnet/iiif/images
IIIF_PUBLIC_BASE=http://xxx.xxx.xxx.xxx:8182/iiif/2
IIIF_PORT=8182
IIIF_TIMEOUT=60
IIIF_UPLOAD_URL=/srv/iartnet/iiif/images

# Services
LIBRE_TRANSLATE_URL=http://libretranslate:5000/translate

# Ingestion Specific (Linux Paths)
#INGEST_FS_ROOT=/opt/Ingestion/storage/ingestion
INGEST_FS_ROOT=/var/www/html/storage/app/ingestion
MIGRATIONS_ENABLED=false
